name: Build
on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: | 
            8.0.x
            9.0.x
            10.0.x
          
      - name: Restoring Dependencies
        run: dotnet restore src/CoreMap/CoreMap.sln

      - name: Running Tests
        run: dotnet test src/CoreMap/CoreMap.sln -c Release --verbosity normal
      
      - name: Test Build CoreMap
        run: dotnet build src/CoreMap/CoreMap.csproj -c Release --no-restore
      
      - name: Test Pack CoreMap
        run: dotnet pack src/CoreMap/CoreMap.csproj -c Release --no-build -o ./artifacts
