name: Deploy
on:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed
  workflow_dispatch:

concurrency:
  group: deploy-${{ github.sha }}
  cancel-in-progress: false

jobs:
  deploy-abstraction:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    if: >
      github.event_name == 'workflow_dispatch' ||
      (
        github.event_name == 'workflow_run' &&
        github.event.workflow_run.conclusion == 'success' &&
        github.event.workflow_run.event == 'push' &&
        startsWith(github.event.workflow_run.head_branch, 'v')
      )


    
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: | 
            8.0.x
            9.0.x
            10.0.x
      
      - name: Restore dependencies
        run: |
          dotnet restore src/CoreMap/CoreMap.csproj
      
      - name: Build CoreMap
        run: dotnet build src/CoreMap/CoreMap.csproj -c Release --no-restore
      
      - name: Pack CoreMap
        run: dotnet pack src/CoreMap/CoreMap.csproj -c Release --no-build -o ./artifacts

      - name: NuGet login (OIDC → temp API key)
        uses: NuGet/login@v1
        id: login
        with:
          user: ${{ secrets.NUGET_USER }}

      - name: Push CoreMap
        run: dotnet nuget push ./artifacts/CoreMap.*.nupkg --api-key ${{steps.login.outputs.NUGET_API_KEY}}} --source https://api.nuget.org/v3/index.json --skip-duplicate
